<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.handong.wats.wheeliric">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/outer_logo_korean_high_resolution"
        android:label="휘리릭"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name="com.handong.wats.wheeliric.LoadingScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.handong.wats.wheeliric.LoginScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.SignInScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.MainScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.SearchDetailScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.LocationDetailScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.CreateReviewScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.BlogScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.ChangeInfoScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.WatchLocationActivity" />
        <activity android:name="com.handong.wats.wheeliric.LocationDetailFromMapScreenActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.handong.wats.wheeliric"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="9sx658cqs0" />

        <activity android:name="com.handong.wats.wheeliric.MoreBlogScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.CertainReviewScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.MoreReviewScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.MyReviewScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.ReviseReviewScreenActivity" />
        <activity android:name="com.handong.wats.wheeliric.OtherClasses.ImageBigShowActivity"></activity>
    </application>

</manifest>