<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mjkim.watsproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/outer_logo_korean"
        android:label="휘리릭"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreenActivity" />
        <activity android:name=".SignInScreenActivity" />
        <activity android:name=".MainScreenActivity" />
        <activity android:name=".SearchDetailScreenActivity" />
        <activity android:name=".LocationDetailScreenActivity" />
        <activity android:name=".CreateReviewScreenActivity" />
        <activity android:name=".BlogScreenActivity" />
        <activity android:name=".ChangeInfoScreenActivity" />
        <activity android:name=".WatchLocationActivity" />
        <activity android:name=".LocationDetailFromMapScreenActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.mjkim.watsproject"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="9sx658cqs0" />

        <activity android:name=".MoreBlogScreenActivity" />
        <activity android:name=".CertainReviewScreenActivity" />
        <activity android:name=".MoreReviewScreenActivity" />
        <activity android:name=".MyReviewScreenActivity" />
        <activity android:name=".ReviseReviewScreenActivity" />
        <activity android:name=".OtherClasses.ImageBigShowActivity"></activity>
    </application>

</manifest>